<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet"  href="http://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    <script src="http://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>


    <script >
        $(document).ready(function(){
            alert("dd");
            $("#mytab").DataTable();
        });
    </script>
    <title>ddd</title>

</head>
<body>
    <table id="mytab" class="table">
        <thead>
            <tr>
                <th class="t" >Object</th>
                <th>Type</th>
                <th>Date</th>
                <th>Participants</th>
                <th>CRR</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td> xxx </td>
                <td> ccc</td>
                <td> vvv </td>
                <td> aaa </td>
                <td> sss </td>
            </tr>
        </tbody>
    </table>
</body>
</html>